@{
    ViewData["Title"] = "Details";
}

@model PuppyLoveClient.Models.Dog
<h2>Please Enter Details About Your Dog!</h2>
<hr/>


@using (Html.BeginForm())
{
    <h5>Dog Name: @Html.TextBoxFor(model => model.Name)</h5>
    
    <h5>Owner Name: @Html.TextBoxFor(model => model.OwnerName)</h5>

    <h5>Dog Mood: @Html.TextBoxFor(model => model.Mood)</h5>

    <h5>Dog Age: @Html.TextBoxFor(model => model.Age)</h5>

    <h5>Dog Breed: @Html.TextBoxFor(model => model.Breed)</h5>

    <h5>Dog Size: @Html.TextBoxFor(model => model.Size)</h5>

    <h5>Location: @Html.TextBoxFor(model => model.Location)</h5>

    <h5>Image URL: @Html.TextBoxFor(model => model.ImgUrl)</h5>
    <br>
    <button type="submit" class="btn btn-success">Add Dog</button>
}
