@{
    ViewData["Title"] = "Details";
}

@using PuppyLoveClient.Models
@model PuppyLoveClient.Models.Dog

@using (Html.BeginForm())
{
    @Html.HiddenFor(applicationUser => applicationUser.User)

    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <br>
    @Html.LabelFor(model => model.OwnerName)
    @Html.TextBoxFor(model => model.OwnerName)
    <br>
    @Html.HiddenFor(model => model.User == ApplicationUser.Id)
    <br>
    @Html.LabelFor(model => model.Mood)
    @Html.TextBoxFor(model => model.Mood)
    <br>
    @Html.LabelFor(model => model.Age)
    @Html.TextBoxFor(model => model.Age)
    <br>
    @Html.LabelFor(model => model.Breed)
    @Html.TextBoxFor(model => model.Breed)
    <br>
    @Html.LabelFor(model => model.Size)
    @Html.TextBoxFor(model => model.Size)
    <br>
    @Html.LabelFor(model => model.Location)
    @Html.TextBoxFor(model => model.Location)
    <br>
    @Html.LabelFor(model => model.ImgUrl)
    @Html.TextBoxFor(model => model.ImgUrl)
    <br>
    <button type="submit">Add Dog</button>
}
@* <p>@Html.ActionLink</p> *@