@{
    ViewData["Title"] = "Details";
}

<h1>Dog Info:</h1>
    <a>@Model.ImgUrl</a>
<ul>
    <li>Name: @Model.Name</li>
    <li>Owner Name: @Model.OwnerName</li>
    <li>Mood: @Model.Mood</li>
    <li>Age: @Model.Age</li>
    <li>Breed: @Model.Breed</li>
    <li>Size: @Model.Size</li>
    <li>Location: @Model.Location</li>

</ul>
<br>

<a href="/Dogs/Edit/@(Model.DogId)"><p>Edit</p></a>
<br>

<a href="/Dogs"><p>Dog List</p></a>

<a href="/Dogs/Delete/@(Model.DogId)"><p>DELETE DOG</p></a>