@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>@Model.Name</h1>
    <img src = "@Url.Content(Model.ImgUrl)" style="height:200px;width:auto;" alt="Dog pic" />
    <div class="row">
        <p>Age: @Model.Age Breed: @Model.Breed</p>
    </div>
    <p>Mood: @Model.Mood</p>
    <p>Size: @Model.Size</p>
    <div class="row">
        <p>Owner: @Model.OwnerName, Location: @Model.Location</p>
    </div>
    <br>
    @if (User.Identity.IsAuthenticated)
    {
    <a href="/Dogs/Edit/@(Model.DogId)"><p>Edit</p></a>
    <a href="/Dogs/Delete/@(Model.DogId)"><p>DELETE DOG</p></a>
    }
    <br>
    <a href="/Dogs"><p>Dog List</p></a>
</div>
