@{
    ViewData["Title"] = "Details";
}

@using System.Security.Claims;

<div class="card">
    <div class="container-upper">
        <div class="row choose">
            <input type="button" id="no" class="btn" value="Back to Sniffs!" onclick="location.href='@Url.Action("Index", "Dogs")'" />
            <img class="profilePic" src = "@Url.Content(Model.ImgUrl)"  alt="Dog pic" />
            <input type="button" id="yes" class="btn btn-success" value="Add to scents!" onclick="location.href='@Url.Action("Details", "Dogs")'" />
        </div>
    </div>
    <div class="container-lower">
        <h1><b>@Model.Name</b></h1>
        <p>Age: @Model.Age Breed: @Model.Breed</p>
        <p>Mood: @Model.Mood</p>
        <p>Size: @Model.Size</p>
        <p>Owner: @Model.OwnerName, Location: @Model.Location</p>
        <br>
        @* && (User.Identity.Id == @Model.User)) Specify the user who created the dog*@
        @if (User.Identity.IsAuthenticated)
        {
        <a href="/Dogs/Edit/@(Model.DogId)"><p>Edit</p></a>
        <a href="/Dogs/Delete/@(Model.DogId)"><p>DELETE DOG</p></a>
        }
    </div>
</div>