@model PuppyLoveClient.Models.Dog

<div class="card">
    <div class="container-upper">
        <div class="row-swipe">
            <button type="button" class="squirrel"><span class="squirrel">@Html.ActionLink("Squirrel", "Index")</span></button>
            <img class="randomPic" src = "@Url.Content(Model.ImgUrl)" style="height:250px;width:auto;" alt="Dog pic" />
            <button type="button" class="sniff"><span class="sniff">@Html.ActionLink("Sniff", "Details", new { id = Model.DogId})</span></button>
        </div>
    </div>
    <div class="container-lower">
        <h3>@Model.Name, Age: @Model.Age</h3>
        <p class="bio">@Model.Mood</p>
    </div>
</div>

